<html>
<head>
	<title>Handlebars examples with Express 4</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
	<script type="text/javascript" src="/javascripts/handlebars-1.0.rc.2.js"></script>
	<script type="text/javascript" src="angular/angular.js"></script>
	<link   rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
{{body}}
</body>
</html>